// COLORS

$white-color: #fff;
$primary-gray-color: rgb(28, 30, 33);
$light-color: rgb(240, 242, 245);
$light-primary-color: rgb(188, 192, 196);
$light-blue-color: rgb(24, 119, 242);
$secondary-gray-color: rgb(101, 103, 107);

//BOX SHADOW
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
