@import "../../sass/abstracts/variables";

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  &__input {
    width: 100%;
    border: none;
    border-radius: 2rem;
    background-color: $light-color;
    padding: 0.8rem 1.2rem;
    color: $primary-gray-color;

    &:focus {
      outline: none;
    }
  }
}

.container {
  width: 100%;
  background-color: #fff;
  padding: 1.2rem 1.6rem 1rem 1.6rem;
  box-shadow: $box-shadow;
  border-radius: 8px;

  &__image {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
  }

  &__top-section {
    width: 100%;
    display: flex;
    grid-gap: 1rem;
  }

  &__bottom-section {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 2px solid $light-color;

    & div {
      width: max-content;
      display: flex;
      padding: 1rem 2rem;
      justify-content: center;
      align-items: center;
      grid-gap: 1rem;
      transition: background-color 0.2s;
      cursor: pointer;
      border-radius: 8px;
      margin: 0 auto;

      &:hover {
        background-color: $light-color;
      }

      & span {
        font-size: 1.7rem;
        color: $primary-gray-color;
        font-weight: 600;
        text-transform: uppercase;
      }

      & img {
        display: inline-block;
        height: 24px;
        width: 24px;
      }
    }
  }

  &__button {
    margin-bottom: 1rem;
    padding: 1rem 0;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: $light-primary-color;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: $light-color;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.active {
      color: $white-color;
      background-color: $light-blue-color;
    }
  }
}
