.container {
  width: 100%;
  background-color: #fff;
  padding: 1.2rem 1.6rem 1rem 1.6rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    object-fit: cover;
  }

  &__top-section {
    width: 100%;
    display: flex;
    grid-gap: 1rem;
  }

  &__bottom-section {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    width: 100%;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 2px solid rgb(240, 242, 245);

    & div {
      width: max-content;
      display: flex;
      padding: 1rem 2rem;
      justify-content: center;
      align-items: center;
      grid-gap: 1rem;
      transition: background-color 0.2s;
      cursor: pointer;
      border-radius: 8px;
      margin: 0 auto;

      &:hover {
        background-color: rgb(240, 242, 245);
      }

      & span {
        font-size: 1.7rem;
        color: #050505;
        font-weight: 600;
        text-transform: uppercase;
      }

      & img {
        display: inline-block;
        height: 24px;
        width: 24px;
      }
    }
  }

  &__button {
    margin-bottom: 1rem;
    padding: 1rem 0;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: rgb(188, 192, 196);
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(240, 242, 245);

    &.active {
      color: #fff;
      background-color: rgb(24, 119, 242);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  &__input {
    width: 100%;
    border: none;
    border-radius: 2rem;
    background-color: rgb(240, 242, 245);
    padding: 0.8rem 1.2rem;
    color: rgb(28, 30, 33);

    &:focus {
      outline: none;
    }
  }
}

.gifs {
  &__container {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    & img {
      width: 100%;
    }
  }
}

.border {
  border: 2px solid gray;
}
