.gifs {
  &__container {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    & img {
      display: block;
      width: 100%;
      cursor: pointer;
    }
  }
}

.border {
  outline: 5px solid gray;
}
