@import "../../sass/abstracts/variables";

.post {
  margin-top: 2rem;

  background-color: $white-color;
  box-shadow: $box-shadow;
  border-radius: 8px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;

    &-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.2rem 1.6rem 1rem 1.6rem;

      & div:first-of-type {
        display: flex;
        grid-gap: 1rem;

        & img {
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;

      & span {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $secondary-gray-color;
      }
    }
  }

  &__name {
    display: flex;
    grid-gap: 0.5rem;
    flex-direction: column;

    & span {
      color: rbg(5, 5, 5);
      font-size: 1.5rem;
      font-weight: 600;
    }

    & small {
      font-size: 1.3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

    & span {
      font-size: 2.4rem;
      font-weight: 400;
      margin: 1rem 1.6rem 1rem 1.6rem;
    }

    & img {
      width: 100%;
    }
  }

  &__cta {
    padding: 2rem 2rem 0 2rem;

    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.5rem;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid $light-color;
    padding: 1.2rem;

    & div {
      display: flex;
      align-items: center;
      grid-gap: 1rem;

      & span {
        color: $secondary-gray-color;
        font-size: 1.5rem;
        font-weight: 600;
      }

      & img {
        display: block;
        height: 1.8rem;
        width: 1.8rem;
      }
    }
  }

  &__likes,
  &__comments {
    display: flex;
    align-items: center;
    grid-gap: 1rem;

    & img {
      display: block;
      object-fit: cover;
      width: 18px;
      height: 18px;
    }

    & span {
      color: $secondary-gray-color;

      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

.no-post {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
